.block-outer {
    margin: 3px 3px;
    height: 110px;
    width: 80px;
    border-radius: 3px;
    display: flex;
    box-shadow: 2px 1px 9px -2px #333;
    transition-duration: 150ms;
}

.block-outer:hover {
    z-index: 100;
    transform: perspective(600px) rotateX(1deg) rotateY(1deg) scale(1.1);
}

.block-inner {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 2px;
    border-radius: 2px;
    box-sizing: border-box;
}

/* block front */

.block-open {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: bolder;
    flex-direction: column;
}

.block-number-line {
    display: block;
    width: 41px;
    height: 2px;
}

/* block behind */

.block-close {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.block-close-dot-container {
    width: 30px;
}

.block-close-dot-wrapper-left {
    margin: 2px 0;
    display: flex;
    justify-content: end;
}

.block-close-dot-wrapper-center {
    margin: 2px 0;
    display: flex;
    justify-content: center;
}

.block-close-dot-wrapper-right {
    margin: 2px 0;
    display: flex;
    justify-content: flex-end;
}

.block-close-dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

/* black block */

.block-color-B {
    background: -webkit-linear-gradient(0.7turn, rgb(78, 78, 78), rgba(6, 6, 6));
}

.block-color-B .block-inner {
    box-shadow: inset 0px -1px 9px 3px black;
}

.block-color-B .block-open {
    color: white;
}

.block-color-B .block-number-line {
    background: white;
}

.block-color-B .block-close-dot {
    background: linear-gradient(0.4turn, #040404, #545454);
}

/* white block */

.block-color-W {
    background: -webkit-linear-gradient(0.7turn, rgb(255, 255, 255), rgb(191, 190, 190));
}

.block-color-W .block-inner {
    box-shadow: inset 0px 2px 5px 3px #969696
}

.block-color-W .block-open {
    color: black;
}

.block-color-W .block-number-line {
    background: black;
}

.block-color-W .block-close-dot {
    background: linear-gradient(0.4turn, #f5f5f5, #a0a0a0ed);
}

/* Joker Placer */

.joker-placer {
    border: 1px dashed white;
    width: 80px;
    border-radius: 5px;
    transition-duration: 0.8s;
}

.joker-placer:hover {
    border: 1px solid white;
}