.guess-modal-wrapper {
    display: flex;
    width: 290px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px;
    padding-top: 0;
}

.guess-modal-title {
    text-align: center;
}

.guess-modal-buttons {
    display: block;
    width: 100%;
    text-align: center;
}

.guess-modal-buttons button {
    margin: 0 10px;
}

.yield-button {
    display: block;
    position: fixed;
    bottom: 5%;
    right: 5%;
}